

.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}

.logo{
    width: 200px;
}

.logo:hover{
    cursor: pointer;
}

.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin:  10px;
    
}
.nav-items>ul>li:hover{
    cursor: pointer;
    color: orangered;
}
.form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
    height: 58px;

}
.form{
    padding: 20px;
}
.search-button{
    cursor: pointer;
    text-decoration: none;
    background-color: orange;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    /* height: 380px; */
    padding: 5px;
    margin: 5px;
    background: #f0f0f0;
}
.res-card > .name {
    color: orangered;
}
.res-img {
    width: 100%;
    height: 200px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;

}

.filter {
    display: flex;
    justify-content: center;
}

.top-btn, .pop-btn{
    margin: 5px;
    padding: 5px;   
    border-radius: 5px;
    background-color:orangered ;
    color: #f0f0f0;
    border: 1px solid white;

    
}

.top-btn:hover, .pop-btn:hover {
    cursor: pointer;    
    border: 1px solid black;
}
